.about-container {
  min-height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-title {
  text-align: start;
}

.about-title h1 {
  font-size: 150px;
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.9);
}

.about-separation-container{
  display: flex;
  justify-content: space-evenly;
}

.about-mini-separation {
  border: 1px solid rgba(255, 255, 255, 0.87);
  width: 30%;

}

.about-big-separation {
  border: 1px solid rgba(255, 255, 255, 0.87);
  width: 60%;
}

.about-description {
  display: flex;
  justify-content: space-evenly;
}

.about-description p {
  width: 40%;
  font-size: 20px;
  margin: 0;
}
