.slider-container {
  background-color: #E4DEBE;
  margin-bottom: 150px;
}

.stack-slider {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
}

.img-container img{
  margin: 0 40px;
  width: 50%;
}

/* Horizontal-line */
.horizontal-line {
  border-top: 1px solid black;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* Carousel */
.carousel-slider {
  width: 100%;
  margin: 10rem auto;
  height: 70%;
  margin-bottom: 4rem;
}

.slide img{
  width: 100%;
  height: auto;
}

.slide {
  transform: scale(0.7);
  transition: transform 300ms;
  opacity: 0.1;
}

.activeSlide {
  width: 100%;
  transform: scale(0.9);
  opacity: 1;
}

.activeSlide:hover {
  cursor: pointer;
  transform: scale(1.0);
}

.slide-content {
  text-align: center;
}

.slide-content h1 {
  font-size: 65px;
  line-height: 65px;
  margin-bottom: 10px;
}

.slide-content p {
  margin: 0;
  font-size: 20px;
  font-family: 'Taviraj', serif;
}

.slick-prev,
.slick-next {
  display: none !important;
}

.issue h1 {
  color: #242424;
}

.work-title h1 {
  font-size: 80px;
  margin-left: 50px;
}
