.contact-container {
  margin: 160px 0 160px 50px;
}

.contact-title h1 {
  font-size: 80px;
}

.contact-description h2 {
  text-align: start;
  font-size: 30px;
}

.vertical-line {
  border-left: 1px solid black;
  height: 700px;
}

.contact-social-media {
  display: flex;
  justify-content: space-around;
}

.contact-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
}

.right-contact {
  background-color: #E4DEBE;
  width: 40%;
  height: 860px;
}

form {
  display: grid;
  padding: 3rem;
}

label h2 {
  text-align: start;
  color: #242424;
}

.right-contact input {
  height: 40px;
  font-size: 20px;
}

.right-contact h1 {
  color: #242424;
}

textarea {
  font-size: 20px;
  margin-bottom: 50px;
}

.submit-button {
  background: #242424;
  border-color: #242424;
  font-family: 'Taviraj', serif;
  width: 50%;
  margin: 0 auto;
}

.github:hover, .mail:hover, .linkedin:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.submit-button:hover{
  transform: scale(1.1);
  background-color: #202020;
  cursor: pointer;
}

.contact-social-media a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
