.hero-name h1{
  text-align: center;
  line-height: normal;
  margin-bottom: 0;
  font-size: 200px;
}

.hero-description h2 {
  margin-right: 250px;
  font-size: 35px;
  margin-top: 0;
}

.scroll-lottie {
  margin-top: 100px;
}
