.hero-container {
  margin-top: 120px;
  text-align: center;
}

.hero-name-container h1{
  line-height: normal;
  margin: 0;
  font-size: 200px;
}

.hero-name,
.hero-lastname{
  position: relative;
  display: inline-block;
}


.hero-description h2 {
  margin-right: 250px;
  font-size: 35px;
  margin-top: 0;
  text-align: end;
}

.scroll-lottie {
  margin-top: 100px;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .hero-container{
    margin-top: 250px;
  }

  .hero-name-container h1 {
    font-size: 130px;
  }

  .hero-description h2 {
    font-size: 25px;
    margin-right: 100px;
  }

  .scroll-lottie {
    margin-top: 270px;
  }
}
