.slider-container {
  background-color: #E4DEBE;
  margin-bottom: 150px;
}

.stack-slider {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
}

.img-container img{
  margin: 0 40px;
  width: 50%;
}

/* Horizontal-line */
.horizontal-line {
  border-top: 1px solid black;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

/* Carousel */
.work-title h1 {
  font-size: 80px;
  padding: 5rem;
  text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.9);
}

.carousel-swiper {
  width: 100%;
  margin: 10rem auto;
  height: 70%;
  margin-bottom: 4rem;
}

.swiper-content {
  padding-top: 2rem;
  text-align: center;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
}

.swiper-content h1 {
  font-size: 65px;
  line-height: 65px;
  margin-bottom: 10px;
}

.swiper-content p {
  margin: 0;
  font-size: 20px;
  font-family: 'Taviraj', serif;
}

.swiper {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 5rem !important;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  flex-shrink: 1 !important;
  width: 100%;
}

.swiper-slide .swiper-content{
  opacity: 0;
}

.swiper-slide-active .swiper-content{
  opacity: 1;
}

.swiper-slide img {
  display: block;
}

.swiper-slide:not(.swiper-slide-active) img {
  filter: blur(8px);
}

.swiper-pagination-bullet-active{
  background: #E4DEBE !important;
}
