.logo{
  width: 150px;
  height: 150px
}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.navbar-item{
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  /* padding-right: 20px; */
}
